
.body{
  background-color: #f4f4f4;
}

.img-top-container{
  background: rgb(0, 0, 0);
  height: 430px;
  position: relative;
}

.img-top-container .image-top{
  height: 100%;
}

.img-top-container .img{
  height: 100%
}

.text-citazione{
  position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: rgb(255, 255, 255, 0.6);
    width: 400px;
    height: auto;
}

/*--------categorie---------*/

.card-container{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  margin:auto;
  margin-top:50px;
  width:1000px;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.card-titolo{
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.card-titolo h1{
  font-size: 40px;
}

.card-content{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
}

.card{
  width: 300px;
  height: 300px;
  background-color: blueviolet;
  transition: transform 0.45s ease, background 0.45s ease;
}

.card .image{
  width: 100%;
  height: 100%;
}

.card .image img{
  width: 100%;
  height: 100%;
}

.card .card-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
  font-size: 120%;
}

.card:hover{
  background-color: purple;
  transform: scale(1.02);
}



/*---------media--------*/

@media (max-width: 1120px){
  .card-container{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin:auto;
    margin-top:50px;
    width:900px;
    grid-template-columns: 50% auto;
    height: auto;
    background-color: rgb(255, 255, 255);
  }

  .card-content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 40px;
    justify-content: center;
  }

  .card{
    width: 250px;
    height: 250px;
  }
  
  .consigli-container{
    width: 900px;
    height: auto;
    margin: auto;
    margin-top:50px;
    background-color: #f4f4f4;
  }

  .articolo-top{
    width: 100%;
    height: 450px;
    background-color: #c27373;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
  }
  

  .altri-articoli{  
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 
    300px 300px;
    grid-gap: 50px;
    margin-top: 30px;
    justify-content: center;
  }
}

@media (max-width: 945px){
  .card-container{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin:auto;
    margin-top:50px;
    width:800px;
    height: auto;
    background-color: rgb(255, 255, 255);
  }

  .card-content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 40px;
    justify-content: center;
  }

  .card{
    width: 200px;
    height: 200px;
  }
  
  .consigli-container{
    width: 800px;
    height: auto;
    margin: auto;
    margin-top:50px;
    background-color: #f4f4f4;
  }

  .articolo-top{
    width: 100%;
    height: 400px;
    background-color: #c27373;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
  }

  .image-articolo-top{
    width: 100%;
    height: 400px; 
    background-color: #000000;
  }

  .altri-articoli{  
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 
    300px 300px;
    grid-gap: 50px;
    margin-top: 30px;
    justify-content: center;
  }
}