@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: #e7f0fd;
}
footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}
footer p, a {
  font-size: 0.8rem;
  font-family:  "Poppins", sans-serif;
  text-align: center;
}
footer a {
  color:#212529;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}
.logo-part {

  height: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 3rem;
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 4rem;
    padding-top: 2rem;
  }
}
@media (min-width: 992px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 5rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .logo-part {
    height: 100%;
    text-align: center;
    padding-right: 9rem;
    padding-top: 0.25rem;
  }
}
.carousel-item {
  height: 40rem;
  background: #777;
  color:white;
  position: relative;
}
.carousel {
  margin-top: 5rem;
}
.container-my {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 500px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size: cover;
  opacity: 0.8;
}
.navbar {
  background: rgba(95, 158, 160, 0.8);
  backdrop-filter: blur(8px);
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
  font-size: large;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 5rem;
  padding-left: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #1c2149;
  text-align: left;
}
.mybutton {
  padding: 15px 25px;
  border: unset;
  border-radius: 25px;
  color: #1c2149;
  z-index: 1;
  background: rgba(232, 232, 232, 0.7);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
.mybutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #1c2149;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
}
.mybutton:hover {
  color: #e8e8e8;
}
.mybutton:hover::before {
  width: 110%;
}
 .form-control[type=search] {
  background-image: url(../img/loupe.png);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position:95%;
  transition: none;
}
.form-control:hover {
  color: #212529;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(202, 237, 160, 0.25);
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  background-image: none;
  box-shadow: 0 0 0 0.25rem rgba(95, 167, 7, 0.25);
}
.form-control:hover:active {
  outline: 0;
  border-color: rgba(255, 0, 0, 0.25);
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.6rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
  margin: 1rem;
  padding: 2rem;
  background-color:  #faebd7;
  border-radius: 20px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mybox {
  background-color: rgb(44, 49, 75);
  color: white;
  width: 25%;
  border-radius:20px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  min-width: 300px;
  max-height: 300px;
}
.flexbox {
  display: flex;
  justify-content: center;
}
.swiper-slide {
  background-color: transparent;
}
.swiper-wrapper {
  padding-left: 1rem;
  padding-right: 20rem;
}
:root {
  --swiper-navigation-color: #E49A38;
}

.card-text {
  text-align: left;
}

.card {
  min-height: 350px;
  max-height: 400px;
}

/*
parte crea pasto
*/

.meal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba(125, 180, 143, 0.644);
  align-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 3em;
  margin-left: 1em;
  margin-right: 1em;
}


@media (max-width: 800px) {
  .meal { grid-template-columns: repeat(1, 1fr); }
}

.box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 17px;
  width: 100%;
  max-width: 400px;
  min-width: 250px;
}

.verified-list {
  list-style: none;
}

.cont-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 4em;
  min-width: 300px;
  max-width: 1000px;
}

.meal-img {
  width: 100%;
  height: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

/* parte ricette */


.new-btn {
  text-decoration: none;
  color: grey;
  width: 100px;
  height: 55px;
  font-size: 18px;
}

.new-btn:hover {
  color: black !important;
}

/* parte articoli */


.homepage-articoli{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}

.homepage-articoli h1{
  font-size: 30px;
  font-weight: bold;
}


.cards-art{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  gap:50px;
  padding: 20px;
}

.card-art-item{
  display: flex;
  padding: 3px;
}

.card-art{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  max-height: 250px;
}

.card-art img{
  width: 100%;
  height: 100%;
  position:relative;
}

.card-art-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: 100%;
  top:60%;
  transform: translate(0,-50%);
  transition: 1s;
}

.card-art-titolo{
  text-align: center;
  color: white;
  padding: 10px;
}

.card-art-titolo h2{
  font-size: 20px;
  text-shadow: 0px 0px 8px #000000;
  font-weight: bold;
}

@media (max-width:250px){
  .card-art-titolo h2{
    font-size: 13px;
  }
}

.card-art-button{
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 230ms;
}

.card-art-button a{
  background-color: white;
  color: black;
  text-decoration: none;
  width: 20%;
  border-radius: 8px;
  padding: 8px 11px;
  font-weight: bold;
  font-size: 17px;
}

.card-art:hover .card-art-button{
  opacity:1;
}

.card-art:hover .card-art-content{
  top:50%;
}

.card-art-button:hover a{
  color: #000000 !important;
}


/*
parte sui libri
*/

.title {
  margin-top: 2em;
  margin-left: 2em;
}

.flex-books {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 4em;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.book-category {
  flex: 1 1 450px;
  position: relative;
  width: 400px;
  max-width: 400px;
  min-width: 250px;
  color: white;
  text-align: center;
}

.img-category {
  width: 100%;
  max-width: 400px;
  min-width: auto;
  min-height: 300px;
  max-height: 300px;
  margin-top: 2em;
  margin-bottom: 2em;

}

.img-category:hover {
  opacity: 0.7;
}

.centered {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1c2149;
  font-weight: bold;
  font-size: 28px;
}



.centered:hover {
  cursor: pointer;
}


.content {
  background-color: #1c21493b;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.h4 {
  margin-top: 2em;
  color: white;
}

/* buon colore rgba(223, 186, 186, 0.698)  rgb(125, 180, 143); */

.saluto:hover {
  cursor: pointer;
}