body {
  background-color: rgba(121, 201, 188, 0.1);
}
.carousel-item {
  height: 40rem;
  background: #777;
  color:white;
  position: relative;
}
.container-my {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 500px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size: cover;
  opacity: 0.8;
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 5rem;
  padding-left: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #1c2149;
  text-align: left;
}
.mybutton {
  padding: 15px 25px;
  border: unset;
  border-radius: 25px;
  color: #1c2149;
  z-index: 1;
  background: rgba(232, 232, 232, 0.7);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
.mybutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #1c2149;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
.mybutton:hover {
  color: #e8e8e8;
}
.mybutton:hover::before {
  width: 100%;
}
 .form-control[type=search] {
  background-image: url(../img/loupe.png);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position:95%;
  transition: none;
}
.form-control:hover {
  color: #212529;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(202, 237, 160, 0.25);
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  background-image: none;
  box-shadow: 0 0 0 0.25rem rgba(95, 167, 7, 0.25);
}
.form-control:hover:active {
  outline: 0;
  border-color: rgba(255, 0, 0, 0.25);
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.6rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}