@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color:#e7f0fd;;
}

a:hover{
    text-decoration: none;
    color: #f5f5f5 !important;
  }

.navbar {
    background: rgba(95, 158, 160, 0.8);
    backdrop-filter: blur(8px);
}
.navbar-light .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}
.navbar-light .navbar-toggler:active {
    color: #fff;
    background-color: #dddddd;
    border: 1px solid transparent;
    transition: 1s;
    box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
    font-size: large;
}

.percorso-container{
    width: 100%;
    height: 30px;
    position: absolute;
    top:0%;
}
.percorso-container p{
    margin-left: 20px;
    font-size: 15px;
}

.percorso-precedenti{
    color:rgb(202, 202, 202)
}

.percorso-attuale{
    color: rgb(255, 255, 255);
}

.img-top-container{
    height: 512px;
    padding-top: 62px;
    position:relative;
}
  
.img-top-content{
    height: 450px;
    position:relative;
    
}

@media (max-width: 800px){
    .img-top-container{
        height: 361px;
        padding-top: 62px;
        position:relative;
    }

    .img-top-content{
      background: rgb(0, 0, 0);
      position: relative;
      margin-bottom: 25px;
      height: 300px;
    }
}

@media(max-width:229px){
    .percorso-container{
        padding-top: 40px;
    }
}

.text-block-top{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

.text-citazione{
    color:rgb(255, 255, 255);
}

.text-citazione h1{
    font-weight: bold;
    font-size: auto;
}


.text-block-top .text-nome-citazione{
    text-align: end;
    font-weight: bold;
    color:rgb(255, 255, 255);
    font-size: 17px;
    font-style: italic;
}

.titolo-body h1{
    color: #4172AD;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

a{
    text-decoration: none;
    color:black;
  }
  
a:hover{
    text-decoration: none;
    color: #000000;
}

/*--------------------------------------*/

.evidenza-container{
    margin-top:30px;
    padding-bottom: 20px;
}
  
.card-top-container{
    margin: auto;
    margin-top: 10px;
    max-width: 816px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
@media (max-width: 850px){
    .card-top-container{
      margin: auto;
      margin-top: 50px;
      max-width: 400px;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
}
  
.card-item-sx{
    display: flex;
    padding: 3px;
}
  
.card-sx{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    transition: transform 0.45s ease;
}
  
.card-sx:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.02);
}

.image-sx{
    max-height: 400px;
    max-width: 400px;
    text-align: center;
    position:relative;
}

.image-sx img{
    height: 100%;
    width: 100%;
}

.titolo-card-sx{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
  
.titolo-card-sx h1{
    font-weight: bold;
    font-size: 40px;
}

@media (max-width: 330px) {
    .titolo-card-sx h1{
        font-size: 10vw;
    }
}
  
.cards-dx{
    display: flex;
    flex-direction: column;
}
  
.card-dx-up{
    display: flex;
    flex-direction: row;
}
  
.card-dx-bot{
    display: flex;
    flex-direction: row;
}
  
.card-item-dx{
    display: flex;
    padding: 2px;
}
  
.card-dx{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    transition: transform 0.45s ease;
}
  
.card-dx:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.02);
}
  
.card-dx img:hover{
    width: 100%;
    height: 100%;
}
  
.image-dx{
    height: 100%;
    width: 100%;
    text-align: center;
    position:relative;
}
  
.image-dx img{
    height: 100%;
    width: 100%;
}
  
.titolo-card-dx{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
  
.titolo-card-dx h1{
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 300px){
    .titolo-card-dx h1{
        font-size: 6vw;
    }
}

.titoli{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-top-color:#53b874;
    border-top-style:solid ;
    border-top-width: 2px;
}

.titoli h1{
    color: #30803D;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/*-------------articoli------------*/

.articoli{
    margin:auto;
    margin-top:30px;
    max-width: 950px;
    height: auto;
}

.articoli .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height:auto;
}
  
.cards-item {
    display: flex;
    padding: 15px;
    max-width: 300px;
    height: 350px;
}
  
.articoli .card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
  
.articoli img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.card-body {
    max-height: 200px;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.card-title {
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title h4{
    font-size: 18px;
    font-weight: bold;
}

.card-button{
    display: flex;
    justify-content: center;
}

.card-button a{
    margin: 0;
}

.but-top{
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    border-radius: 10px;
    padding: 10px 15px;
    color: black;
    border-color: #29327c;
    transition: 0.25s;
}

.but-top:hover{
    box-shadow: inset 0 -3.25em 0 0 rgb(48, 49, 128);
    color: white;
}

.but-top p{
    margin:0;
}

/*--------------altre categorie---------------*/

.altre-categorie-container{
    margin:auto;
    margin-top:30px;
    max-width: 750px;
}

.altre-categorie-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-around;    
}

.card-item{
    display: flex;
    padding: 10px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.card .image{
    height: 100%;
    width: 100%;
    text-align: center;
    position:relative;
    transition: 0.5s;
}
  
.card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    
.card-text-bottom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    font-size: 23px;
}

footer {
    color: lightgray;
    background:#9094b3;
    backdrop-filter: blur(8px);
}

.logo-footer{
    width: 100%;
}

.logo-part {
    height: 100%;
    text-align: center;
}
