@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  background-color:#e7f0fd;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: none;
  color: #f5f5f5 !important;
}

.navbar {
  background: rgba(95, 158, 160, 0.8);
  backdrop-filter: blur(8px);
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
  font-size: large;
}

.nav-link:hover .nav-link a {
  color: white!important;
}

.img-top-container{
  position: relative;
  margin-bottom: 25px;
  height: 512px;
  padding-top: 62px;
}

.img-top-content{
  height: 450px;
  position:relative;
  background-image: url(../../../img/articoli/homepage-1.png);
}

.image-top{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(2,0,36,0.422) 0%, rgba(0,0,0,0) 43%);
}

@media (max-width: 800px){
  .img-top-container{
    position: relative;
    margin-bottom: 25px;
    height: 362px;
    padding-top: 62px;
  }

  .img-top-content{
    background: rgb(0, 0, 0);
    position: relative;
    margin-bottom: 25px;
    height: 300px;
    background-image: url(../../../img/articoli/homepage-1r.png);
  }
}

.text-top{
  position: absolute;
  text-align: center;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  width: 340px;
  padding: 15px;
  height: 210px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.text-top h1{
  font-size: 35px;
  font-weight: bold;
}

.text-top p{
  font-size: 20px;
}

@media (max-width:370px){
  .text-top{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    padding: 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  
  .text-top h1{
    font-size: 12vw;
  }
  
  .text-top p{
    font-size: 5vw;
  }

}

/*--------categorie---------*/

.card-container{
  height: auto;
  max-width: 80%;
  margin:auto;
  margin-bottom: 30px;
}

.titoli{
  width: 70%;
  min-width: auto;
  margin: auto;
  padding: 20px;
  border-top-style:solid ;
  border-color:#b3b3b3 ;
  border-top-width: 2px;
}

.titoli h1{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.295) 0px 0px 12px;;
}

@media (max-width:400px){
  .titoli h1{
    font-size: 25px;
  }
}

.card-content{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-around;    
}

.card-item{
  display: flex;
  padding: 10px;
  position: relative;
}

.card{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.25);
  background-color:#e7f0fd;
}

.card .image{
  height: 100%;
  width: 100%;
  text-align: center;
  position:relative;
  transition: 0.5s;
}

.card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-item .card-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 0.5s;
  font-size: 23px;
}



/*---------Swiper---------*/

.container-swiper{
  margin:auto;
  margin-bottom: 20px;
  max-width:1050px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-swiper-articoli{
  margin:auto;
  position: relative;
  width:100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titolo-swiper{
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
  border-top-color: #D1D2D4;
  border-top-style:solid ;
  border-top-width: 2px;
}

.titolo-swiper h1{
  font-size: 35px;
  font-weight: bold;
}

.swiper{
  /*width: 950px;*/
  width: auto;/**/
}

.container-card{
  padding: 20px;
  display: flex;/**/
}

.card-articoli {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  overflow: hidden;
  width: auto;/**/
  /*width: 300px;*/
  border-radius: 20px;
  display: flex;/**/
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.card-image{
  width: 100%;
  height: 170px;
}

.card-image img{
  width: 100%;
  height: 100%;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.card-body:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card-title{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.card-text{
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.swiper-button-next, .swiper-button-prev{
  color: #000000;
  opacity: 80%;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  color: #000000;
  opacity: 100%;
}

.tag-container{
  margin-bottom: 10px;
  padding: 0;
}

.tag {
  background: #9b9b9b;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

/*----------consigli-----------*/

.consigli{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.titolo-consigli{
  margin: auto;
  width: 65%;
  text-align: center;
  padding: 20px;
  border-top-color: #D1D2D4;
  border-top-style:solid ;
  border-top-width: 2px;
}

.titolo-consigli h1{
  font-size: 35px;
  font-weight: bold;
}

.consigli .container{
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.consigli .container-up{
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.card-sq-item{
  display:flex;
  padding: 5px;
}

.card-sq1{
  display:flex;
  height: 100%;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.8s;
  background-size: 100%;
  background-image: url(../../../img/articoli/alimenti-carne-sq.png);
}

.card-sq2{
  display:flex;
  height: 100%;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.8s;
  background-size: 100%;
  background-image: url(../../../img/articoli/allenamento-corsa-sq.png);
}

.img-sq{
    opacity: 0;
    width: 100%;
    height: 100%;
}

.card-sq1:hover{
  background-color: rgb(0, 0, 0);
  background-size: 120% ;
  background-image: url(../../../img/articoli/alimenti-carne-sq.png);
}

.card-sq2:hover{
  background-color: rgb(0, 0, 0);
  background-size: 120% ;
  background-image: url(../../../img/articoli/allenamento-corsa-sq.png);
}


.titolo-card-sq{
  position: absolute;
  width: 60%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #ffffff;
}

.titolo-card-sq h1{
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 850px){
  .titolo-card-sq h1{
    font-size: 4vw;
  }
}

.consigli .container-dw{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-dw-item{
  padding: 10px;
}

.card-dw{
  position: relative;
  cursor: pointer;
}

.card-dw .face{
  max-width: 300px;
  max-height: 200px;
  transition: 0.5s;
}

.card-dw .face.face1{
  position: relative;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card-dw .face.face1 .content{
  transition: 0.5s;
}

.card-dw .face.face1 .content img{
  width: 100%;
}

.card-dw .face.face2{
  height: 100px;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.384);
  transform: translateY(-100px);
}

.card-dw:hover .face.face2{
  transform: translateY(0);
}

.card-dw .content p{
  margin: 0;
  color: #000 !important;
}

.titolo-dw{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  position: absolute;
  text-align: center;
  z-index: 5;
}

.titolo-dw h1{
  font-size: 25px;
  font-weight: bold;
  color: white;
}

@media(max-width: 290px){
  .card-dw .content p{
    font-size: 14px;
  }
}



/*-------------------------------*/

.card-slider-item {
  display: flex;
  padding: 15px;
  max-width: 300px;
}

.card-slider {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  transition: 0.5s;
}

.card-slider:hover{
  transform: translateY(-20px);
}

.card-slider img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card-slider-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card-slider-image {
  background-color: #696969;
}

.card-slider-title {
  margin-bottom: 5px;
  color: #696969;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-slider-title h5{
  font-size: 16px;
  font-weight: bold;
}

.card-slider-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
}

footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}

/*---------------------------------*/