@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color:#e7f0fd;;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #f5f5f5 !important;
}

footer {
    color: lightgray;
    background:#9094b3;
    backdrop-filter: blur(8px);
  }

footer p, a {
    font-size: 0.8rem;
    font-family:  "Poppins", sans-serif;
    text-align: center;
}

footer a {
    color:#212529;
    text-decoration: none;
}

  a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
  }

.div-line{
    border-top: 2px solid rgb(160, 160, 160);
    width: 70%;
    margin: auto;
}

.navbar {
    background: rgba(95, 158, 160, 0.8);
    backdrop-filter: blur(8px);
    position: absolute;
}
.navbar-light .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}
.navbar-light .navbar-toggler:active {
    color: #fff;
    background-color: #dddddd;
    border: 1px solid transparent;
    transition: 1s;
    box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
    font-size: large;
}

.percorso-container{
    width: 100%;
    height: 30px;
    position: absolute;
    top:0%;
}
.percorso-container p{
    margin-left: 20px;
    font-size: 15px;
}

.percorso-precedenti{
    color:rgb(202, 202, 202)
}

.percorso-attuale{
    color: rgb(255, 255, 255);
}
.text-block-top{
    display: flex;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categoria-img-top{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:rgb(255, 255, 255);
    font-size:16px;
}

.titolo-articoli{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255);
    font-size: 50px;
}

.img-top-container{
    padding-top: 62px;
    height: 512px;
    position:relative;
}

.img-top-content{
    height: 450px;
    position:relative;
}

@media (max-width: 400px){
    .titolo-articoli{
        font-size: 40px;
    }

    .img-top-container{
        height: 362px;
        position:relative;
    }

    .img-top-content{
        height: 300px;
        position:relative;
    }
}

@media(max-width:229px){
    .percorso-container{
        padding-top: 40px;
    }
}


/*--------------------------------------*/

.indice-autore{
    margin: auto;
    margin-top: 50px;
    max-width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.indice-autore-content{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.137);
}

.indice-container{
    width: 50%;
    padding: 10px;
}

.indice-titolo{
    margin-left: 20px;
}

.indice-titolo h2{
    color: rgb(0, 0, 0);
}

.elenco{
    margin-left: 20px;
}

.elenco a:hover{
    color: rgb(168, 166, 166) !important;
}

.autore-tempo-container{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.autore{
    height: 50%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(224, 224, 224);
}

.autore-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

.image-autore{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.nome-autore{
    padding-left: 10px;
}

.autore-content img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.autore-content p{
    margin-top: 18px;
}

.tempo{
    height: 50%;
}

.tempo-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.text-tempo{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.text-tempo p{
    margin-top: 16px;
    height: auto;
}

.icon-tempo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

@media (max-width: 540px){
    .indice-autore{
        max-width: 250px;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }

    .indice-autore-content{
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }
    .indice-container{
        width: 100%;
        padding: 10px;
    }

    .autore-tempo-container{
        width: 100%;
        padding: 10px;
    }
}

/*-------------------------------------------*/

.elenco{
    margin-left: 30px;
    padding: 7px;
}

.body-articolo{
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 1000px;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
}

.body-content{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-style: 2px solid green;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.137);
}

.testo{
    width: 100%;
    padding: 20px;
}

.testo a{
    font-size: 25px;
    font-weight: bold;
}

.testo p{
    margin-top:10px;
    margin-left: 10px;
}

.page-top-button{
    margin: auto;
    padding: 20px;
    text-align: center;
}

.page-top-button img{
    width: 40px;
    height: 40px;
}
