
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #e7f0fd;
}
footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}

footer p, a {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
footer a {
  color:#212529;
}

a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}

.logo-part {

  height: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 3rem;
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 4rem;
    padding-top: 2rem;
  }
}
@media (min-width: 992px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 5rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .logo-part {
    height: 100%;
    text-align: center;
    padding-right: 9rem;
    padding-top: 0.25rem;
  }
}
.carousel-item {
  height: 40rem;
  background: #777;
  color:white;
  position: relative;
}
.carousel {
  padding-top: 2rem;
}
.container-my {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 500px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size: cover;
  opacity: 0.8;
}
.navbar {
  background: rgba(95, 158, 160, 0.8);
  backdrop-filter: blur(8px);
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
  font-size: large;
}

/*
body {
  font-family: 'Roboto', sans-serif;
  background: #e7f0fd;
}
  .carousel-item {
    height: 40rem;
    background: #777;
    color:white;
    position: relative;
  }
  .container-my {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 500px;
  }
  .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position:center;
    background-size: cover;
    opacity: 0.8;
  }
  .navbar {
    background-color:rgba(240, 255, 255, 0.9);
    
  }
  .navbar-light .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .navbar-light .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-light .navbar-toggler:active {
    color: #fff;
    background-color: #dddddd;
    border: 1px solid transparent;
    transition: 1s;
    box-shadow: 0 0.2em #dfd9d9;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 5rem;
    padding-left: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #1c2149;
    text-align: left;
  }
  .mybutton {
    padding: 15px 25px;
    border: unset;
    border-radius: 25px;
    color: #1c2149;
    z-index: 1;
    background: rgba(232, 232, 232, 0.7);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
  .mybutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #1c2149;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
  }
  .mybutton:hover {
    color: #e8e8e8;
  }
  .mybutton:hover::before {
    width: 100%;
  }
   .form-control[type=search] {
    background-image: url(../img/loupe.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position:95%;
    transition: none;
  }
  .form-control:hover {
    color: #212529;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(202, 237, 160, 0.25);
  }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    background-image: none;
    box-shadow: 0 0 0 0.25rem rgba(95, 167, 7, 0.25);
  }
  .form-control:hover:active {
    outline: 0;
    border-color: rgba(255, 0, 0, 0.25);
  }
  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.6rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
  }
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.55);
  }
  .navbar-light .navbar-text a,
  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
  }

  */
  .mybox {
    background-color: #9094b3;
    color: white;
    width: 25%;
    border-radius:20px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
 

  .dropdown-center {
    margin-top: 3em;
    
  }


  .maincontainer {
    display: flex;
    gap: 2%;
    margin: 1rem;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 400px;
}
 .cards {
      /*position: absolute;
      */
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: 0.4s;
  }
  .cards:hover{
      transform: rotateY(180deg);

  }
  .front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      
  }
  .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      background: linen;
  }
  .libro {
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 10px 10px rgba(133, 132, 132, 0.27);
  }
  .paragraph {
    text-align: center;
    margin:2em;
    height: 70%;
  }
  .btn-container {
      justify-content: center;
      align-items: center;
      height: 30%;
      margin-bottom: 3em;
  }
  .btn {
      border-radius: 10px;
      margin-left: 6em;
      color: black;
      border: 1px solid black;
      opacity: 0.5;
  }
  .btn:hover{
      transform: scale(1.03);
      background-color: transparent;
      color: black;
      border: 1px solid black;
      opacity: initial;
      transition: .4s;
  }

  .new-a {
    text-decoration: none;
    margin-left: 6em;
    color: black;
    font-size: 17px;
    font-style: oblique;
  }

  .new-a:hover {
    color: #9094b3 !important;

  }

/*
.card-container{
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));
  gap: 2%;
  margin: 0 auto;
  margin-top: 2em;
  margin-left: 5%; 
  margin-right: 3%; 
  margin-bottom: 6%;
}
.card {
  width: 100%;
  margin-bottom: 2em;
}

@media (min-width: 1200px) {
  .card-container { grid-template-columns: repeat(3, 1fr); }
}
*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.card {
  flex: 1 1 400px;
  margin-bottom: 2em;
}

.go-author{
  background-color: transparent;
  border: none;
}

.go-author:hover {
  color: #9094b3;
}

.card-text {
  font-style: normal;
}


.card-title{
  font-style: normal;
}

.h3 {
  font-style: normal;
}

.img-fluid {
  height: 100%;
  width: 100%;
}


.anim {
  display: flex;
  margin-right: 7em;
  margin-left: 7em;
  margin-bottom: 2em;
  margin-top: 2em;
  justify-content: left;
}

.div1 {
  font-size: 20px;
  font-style: normal;
  color: rgb(23, 28, 56);
  opacity: 0;
}

.btn-j {
  background-color: transparent;
  border: none;
  color: rgb(86, 168, 83);
  opacity: 0;
}

/*
parte su profilo autori
*/


.au {
  min-height: 300px; max-height: 300px; display: block;  box-shadow: 0 20px 20px -6px rgb(212, 211, 211);
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  font-style: normal;
  height: 0;
  top: 0;
  opacity: 0;
  background-color: rgba(95, 158, 160, 0.966);
  overflow-y: scroll;
  transition: 0.5s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.card-title{
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.par {
  font-size: 16px;
  color: white;
  margin-left:1em; margin-right: 1em; margin-top: 1em; margin-bottom: 1em;
}

.l {
  background-color: transparent;
  color: black;
  min-height: 50px; 
  max-height: 50px;
  min-width: 75px;
  max-width: 100px;
  border: 1px solid black; 
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.l:hover {
  text-transform: uppercase;
  border: 1px solid white;;
  color: white;
  box-shadow: inset 0 100px 0 0 black;
  transform: scaleX(1.10);
}


.qr-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  max-width: 100px;  
  min-height: 50px; 
  max-height: 50px;
  min-width: 75px; 
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.qr-btn:hover {
  text-transform: uppercase;
  border: 1px solid white;;
  color: cadetblue;
  box-shadow: inset 0 100px 0 0 linen;
  transform: scaleX(1.10);
}

.qr:hover .hidden {
  opacity: 0.75;
  visibility: visible;
}

.hidden {
  visibility: hidden;
}