@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: #e7f0fd;
}

footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}

footer p, a {
  font-size: 0.8rem;
  font-family:  "Poppins", sans-serif;
  text-align: center;
}
footer a {
  color:#212529;
}

a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}

.logo-part {

  height: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 3rem;
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 4rem;
    padding-top: 2rem;
  }
}
@media (min-width: 992px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 5rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .logo-part {
    height: 100%;
    text-align: center;
    padding-right: 9rem;
    padding-top: 0.25rem;
  }
}
.carousel-item {
  height: 40rem;
  background: #777;
  color:white;
  position: relative;
}
.carousel {
  padding-top: 2rem;
}
.container-my {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 500px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size: cover;
  opacity: 0.8;
}
.navbar {
  background: rgba(95, 158, 160, 0.8);
  backdrop-filter: blur(8px);
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
  font-size: large;
}

  .mybox {
    background-color: #9094b3;
    color: white;
    width: 25%;
    border-radius:20px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
 

  .dropdown-center {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    
  }


  .maincontainer {
    display: flex;
    gap: 2%;
    margin: 1rem;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 400px;
}
 .cards {
      /*position: absolute;
      */
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: 0.4s;
  }
  .cards:hover{
      transform: rotateY(180deg);

  }
  .front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      
  }
  .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right, #adcdc1, #bad6d4, #cbdfe2, #dfe8ec, #f0f1f2);
      border: 1px solid rgb(88, 88, 88);
  }
  
  .libro {
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 10px 10px rgba(133, 132, 132, 0.27);
    border: 1px solid rgb(88, 88, 88);
  }
  .paragraph {
    text-align: center;
    margin:2em;
    height: 70%;
  }
  .btn-container {
      justify-content: center;
      align-items: center;
      height: 30%;
      margin-bottom: 3em;
  }
  .btn {
      border-radius: 10px;
      margin-left: 6em;
      color: black;
      border: 1px solid black;
      opacity: 0.5;
  }
  .btn:hover{
      transform: scale(1.03);
      background-color: transparent;
      color: black;
      border: 1px solid black;
      opacity: initial;
      transition: .4s;
  }

  .new-a {
    text-decoration: none;
    margin-left: 6em;
    color: black;
    font-size: 17px;
    font-style: oblique;
  }

  .new-a:hover {
    color: #9394a0 !important;

  }


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.card {
  flex: 1 1 400px;
  margin-bottom: 2em;
}

.go-author{
  background-color: transparent;
  border: none;
}

.go-author:hover {
  color: #9094b3;
}

.card-text {
  font-style: normal;
  font-size: 14px;
}


.card-title{
  font-style: normal;
}

.h3 {
  font-style: normal;
}

.img-fluid {
  height: 100%;
  width: 100%;
}


.anim {
  display: flex;
  margin-right: 7em;
  margin-left: 7em;
  margin-bottom: 2em;
  margin-top: 2em;
  justify-content: left;
}

.div1 {
  font-size: 20px;
  font-style: normal;
  color: rgb(23, 28, 56);
  opacity: 0;
}

.btn-j {
  background-color: transparent;
  border: none;
  color: rgb(86, 168, 83);
  opacity: 0;
}

/*
parte su profilo autori
*/


.au {
  min-height: 320px; 
  max-height: 320px; 
  display: block;  
  box-shadow: 0 20px 20px -6px rgb(212, 211, 211);
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  font-style: normal;
  height: 0;
  top: 0;
  opacity: 0;
  background-color: #34495e;
  overflow-y: scroll;
  transition: 0.5s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.card-title{
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.par {
  font-size: 16px;
  color: white;
  margin-left:1em; margin-right: 1em; margin-top: 1em; margin-bottom: 1em;
}

.l {
  background-color: transparent;
  color: black;
  min-height: 50px; 
  max-height: 50px;
  min-width: 75px;
  max-width: 100px;
  border: 1px solid black; 
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.l:hover {
  text-transform: uppercase;
  border: 1px solid white;;
  color: white;
  box-shadow: inset 0 100px 0 0 black;
  transform: scaleX(1.10);
}



.hidden {
  visibility: hidden;
}