@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
  font-family: "Poppins", sans-serif;
  background-color: linen !important;
}

.box {
  display: flex;
  flex-wrap: wrap;
  -webkit-border-radius: 0px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  justify-self: center;
  margin: auto;
  text-align: left;
}

.supercontainer {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 3px rgba(84, 84, 84, 0.437);
  padding: 1.5rem;

}

.containerRow {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow-x:auto;
  padding: 1rem;
  margin-left:1rem;
  margin-right: 1rem;
}
.containerRow > p {
  margin: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin: auto;
  background-color: white;
  width: 100%;
}

tr:nth-child(even){
  background-color: rgb(239, 237, 237)
}

td {
  text-align: center;
  padding: 8px;
  border: solid 1px #c8c8c8;
}

thead {
  background-color: #9094b3;
}

.bottoniTabella {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}
footer p, a {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
footer a {
  color:#212529;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: cadetblue;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: rgb(68, 113, 115);;
}

input[type=submit]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}