@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: linen !important;
}

.box {
  -webkit-border-radius: 0px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  display: grid;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.creapasto {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}
footer p, a {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
footer a {
  color:#212529;
}





