/*
body {

  background-color: whitesmoke;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.carousel-item {
  height: 40rem;
  background: #777;
  color:white;
  position: relative;
}
.container-my {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 500px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size: cover;
  opacity: 0.8;
}
.navbar {
  background-color:rgba(240, 255, 255, 0.9);
  
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 5rem;
  padding-left: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #1c2149;
  text-align: left;
}
.mybutton {
  padding: 15px 25px;
  border: unset;
  border-radius: 25px;
  color: #1c2149;
  z-index: 1;
  background: rgba(232, 232, 232, 0.7);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
.mybutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #1c2149;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
.mybutton:hover {
  color: #e8e8e8;
}
.mybutton:hover::before {
  width: 100%;
}
 .form-control[type=search] {
  background-image: url(../img/loupe.png);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position:95%;
  transition: none;
}

.form-control:hover {
  color: #212529;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(202, 237, 160, 0.25);
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  background-image: none;
  box-shadow: 0 0 0 0.25rem rgba(95, 167, 7, 0.25);
}
.form-control:hover:active {
  outline: 0;
  border-color: rgba(255, 0, 0, 0.25);
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.6rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}
*/


@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #e7f0fd;
}
footer {
  color: lightgray;
  background:#9094b3;
  backdrop-filter: blur(8px);
}
footer p, a {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
footer a {
  color:#212529;
}
a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}
.logo-part {

  height: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 3rem;
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 4rem;
    padding-top: 2rem;
  }
}
@media (min-width: 992px) {
  .logo-part {
    border-right: 1px solid grey;
    height: 100%;
    text-align: center;
    padding-right: 5rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .logo-part {
    height: 100%;
    text-align: center;
    padding-right: 9rem;
    padding-top: 0.25rem;
  }
}
.carousel-item {
  height: 40rem;
  background: #777;
  color:white;
  position: relative;
}
.carousel {
  padding-top: 2rem;
}
.container-my {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 500px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size: cover;
  opacity: 0.8;
}
.navbar {
  background: rgba(95, 158, 160, 0.8);
  backdrop-filter: blur(8px);
}
.navbar-light .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.50s ease-in-out, background-color 0.30s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler:active {
  color: #fff;
  background-color: #dddddd;
  border: 1px solid transparent;
  transition: 1s;
  box-shadow: 0 0.2em #dfd9d9;
}
.nav-link {
  font-size: large;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mybox {
  background-color: #9094b3;
  color: white;
  width: 25%;
  border-radius:20px;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.flexbox {
  display: flex;
}
.swiper-slide {
  background-color: antiquewhite;
}
.swiper-wrapper {
  padding-left: 1rem;
  padding-right: 20rem;
}
:root {
  --swiper-navigation-color: #E49A38;
}
/* recipes */
.list{
  list-style: none;
  text-align: center;
  align-items: center;
  margin-right: 15px;
}
.btn-no-op {
  display: inline-block;
  margin-block-end: 2px;
  color: black;
  position: relative;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  font-size: 19px;
}

.btn-no-op:hover{
  text-decoration: none;
  transform: scale(1.08);
  transition: all 0.2s ease;
}
.btn-no-op:hover::after{
  text-decoration: none;
  transform: scaleX(1);
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 2%;
  margin-top: 5em;
}

@media (max-width: 350px) {
  .flex-container {
    flex-direction: column;
  }
}
/*
.card-container{
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));
  gap: 2%;
  margin-left: 5%; 
  margin-right: 3%; 
  margin-bottom: 6%;
}
.card {
  width: 90%;
}
/*
.card:hover{
  transform: scale(1.03);
  transition: all 1s ease;
}

@media (min-width: 900px) {
  .card-container { grid-template-columns: repeat(3, 1fr); }
}
*/



.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.search-btn {
  background-color: white;
  border: 2px solid #152a46;
  max-height: 55px;
  border-radius: 2%;
}

#myInput {
  background-color: transparent;
  /*background-repeat: no-repeat;
  */
  font-size: 16px;
  border: 1px solid white;
  padding: 12px 20px 12px 40px;
  color: #152a46;
  width: 80%;
  text-align: left;
}

#myInput:focus{
  outline: none;
}

#myUL {
  display: none;
  list-style-type: none;
  width: 15%;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #fffefe;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: rgb(68, 83, 131);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
}

.card {
  flex: 1 1 500px;
  margin-bottom: 3em;
}


.card-img-top {
  border: black;
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.card-img-top:hover{
  transform: scale(0.99);
  opacity: 0.7;
  transition: all 300ms ease;
}


.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 30px;
  margin-right: 10px;
}

.btn-anim {
  width: 70px;
  height: 45px;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn-anim:hover{
  background: bisque;
  transform: translateY(-7px);
  color: #fff;
  box-shadow: 0px 10px 25px burlywood;
}

.bullet {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 50px;
  list-style: none;
  counter-reset: li;
  }
  .bullet li {
  position: relative;
  margin-bottom: 1.5em;
  padding: 0.6em;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: #231F20;
  
  }
  .bullet li:before {
  position: absolute;
  top: -0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-size: 16px;
  font-weight: bold;
  color: #DCC24B;
  background: #FEFEFE;
  border-radius: 50%;
  counter-increment: li;
  content: counter(li);
  }



.ing-list{
  list-style: square inside url("../img/square.jpg");
  text-align: left;
  margin-top: 20px;
  /*margin-bottom: 10rem;*/
}

.item {
  margin-top: 10px;
}

.recipe-container{
  display: grid;
  grid-template-columns: repeat(minmax(300px, 1fr));
  gap: 2%;
  margin-left: 6%;
  margin-right: 6%;
}
@media (min-width: 900px) {
  .recipe-container { grid-template-columns: 1fr 2fr 1fr; }
}

.nutritional-box {
  background-color: cadetblue;
  color: white;
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 14rem;
  border-radius:0px;
  margin-right: 5rem;
  margin-left: 1rem;
}

.img-recipe {
  width: 6%;
  animation: rotate 5s cubic-bezier(.54, .13, .30, .87);
}

.img-recipe:hover {
  animation: rotate 10s cubic-bezier(.54, .13, .30, .87);
}

.nutritional-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30 px;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 100px;
}

@media (max-width: 400px) {
  .nutritional-container {
    flex-direction: column;
  }
}

@keyframes rotate{
  0% {transform: rotateY(0turn);}
  100% {transform: rotateY(10turn);}
}

.card-writteable {
  position: relative;
 text-align: center;
 color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font: bolder;
  font-weight: bold;
  letter-spacing: 2px;
}

